google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-api-python-client==2.149.0
aiohttp==3.10.10
ollama==0.3.3
PyQt5==5.15.11
sympy==1.14.0
APScheduler==3.11.2
pytest==9.1.0
pytest-asyncio==1.4.0
pyinstaller==6.21.0
